<div class="logo">
  <a class="simple-text logo-normal" routerLink=''>
    <img src="/assets/img/transparentStairs.png" />
    <a class="logo-stairs">Hotel Stairs</a>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item" routerLinkActive='active'>
      <a class="nav-link" routerLink='/home'>
        <i class="material-icons">home</i>
        <p>Home</p>
      </a>
    </li>

    <li class="nav-item" routerLinkActive='active'>
      <a class="nav-link" routerLink='/guest'>
        <i class="material-icons">people</i>
        <p>Hóspedes</p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive='active'>
      <a class="nav-link">
        <i class="material-icons">calendar_today</i>
        <p>Check-in</p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive='active'>
      <a class="nav-link">
        <i class="material-icons">hotel</i>
        <p>Acomodações</p>
      </a>
    </li>
  </ul>
</div>